# LaTeX intermediate products
metricspapers.tex 
metricstalks.tex
parsetalks.tex
parsepapers.tex
parsesupervision.tex
parserefereeing.tex
parsecodesdata.tex
__pycache__/
*.pyc
CV.pdf
CVshort.pdf
publist.pdf
talklist.pdf
CVshort.tex
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.out
*.bbl
*.blg
*.lot
*.lof
*.loa
*.lol
*.glo
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.glsdefs
*.ist
*.fls
*.out
*.dvi
*.xdv
*.pdfsync
*.bak
*.idx
*.ilg
*.ind
*.inx
*.toc
*.lof
*.lot
*.acn
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.glsdefs
*.ist
*.fls
*.out
*.dvi
*.xdv
*.pdfsync
*.bak
*.idx
*.ilg
*.ind
*.inx