\input{preamble}

\mytitle{Publication list}

\begin{document}
\hypersetup{urlcolor=color1}
\pagestyle{headonly}

\makecvtitle

\input{metricspapers.tex}

\vspace{0.5cm}

\input{parsepapers.tex}

\end{document}